@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  margin: 0;
}

body {
  font-family: 'Lato', sans-serif;
}
.container {
  margin: 0 auto;
  max-width: 1250px;
}
nav {
  display: flex;
  justify-content: space-between;
  height: 72px;
  align-items: center;
}
nav ul{
  list-style: none;
  display: flex;
  gap: 36px;
}

nav img{
  width:100px;
}
nav ul img{
  width: 20px;
  height: 20px;
  padding-top: 2px;
  margin-left: -30px;
}
mySlides img{
  width: 100%;
}
.slide-container{
  width: 100%;
  white-space: nowrap;
  overflow-x: auto;
  padding-bottom: -99px;
}
.Left span{
  text-align: center;
  margin-top: 100px;
  text-decoration: none;
  color: black;
  font-weight: 50px;
}
.Left span a:link{
  text-decoration: none;
  color:black;
}
.Left button{
  
  background-color: #020202cd;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  opacity: 1;
  margin: 40px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  border-radius: 8px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
/*.Left1 button{
  background-color: black;
  color: white;
  font-size: 14px;
  padding: 10px 32px;
  border-radius: 5px;
  margin: 10px 0px;
  cursor: pointer;
}*/
.Left button:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  opacity: 0.6;
}
/*Recharge Starts*/


.recharge-text p{
  text-align: center;
  text-decoration: none;
  font-size: 35px;
  font-weight: 500;
  padding-top: 40px;
  margin-bottom: 50px;
}
/*.PayBill{
  background-color: #f7f7fa;
  height:300px;
  
}
.BT ButtonToggle{
  align-items: center;
  float: center;
  justify-content: center;
  
  
  
}*/
.sb{
  background-color: #f7f7fa;
  height:410px;
}
.allButton{
  align-items: center;
  justify-content: center;
  text-align: center;
}
.sb1 {
  align-items: center;
  display: inline-block;
  margin: 0 20px 0 0px;
  width: 120px;
  height: 40px;
  position: relative;
}
.sb1 button:hover{
  color:black;
  opacity: 0.6;
  transition: 1s;
  cursor: pointer;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  border-radius: 8px;
  border: 2px solid #c7cbfa;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  border-radius: 15px;
}
/*box-shadow: 0 0 10px 0 #e3e5ff inset, 0 0 20px 2px #e3e5ff;
  */
.sb1 button,.sb1 label,.sb1 input{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ecedff;
  border-radius: 15px;
  border: none;
}
.sb1 input[type="radio"] {
  opacity: 0.011;
  z-index: 100;
  
}
.sb1 input[type="radio"]:checked+label{
  background: black;
  border-radius: 4px;
  color:white;
  border-radius: 15px;
}
.sb1 button {
  cursor: pointer;
  z-index: 90;
  line-height: 1.8em;
  background-color: #e3e5ff;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;  
}
.sb1 label{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color:black;
  font-weight: 600;
  float: left;
}
.sb1 img{
  display: flex;
  height:20px;
  width:20px;
  float: left;
  margin-right: 7px;
  filter: invert(30%);
}
.sb1 input[type="radio"]:checked+img{
  filter: invert(100%);
}
.search-container {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 45px;
  margin: 35px auto; 
  border:1px solid aqua;
  border-radius: 10px; 
  overflow: hidden;
  
}
.search-container:hover{
  border:2px solid aqua;
}
input.search-bar{
  border-right: none;
  height: 30px;
  width:400px
}
.search-bar {
  flex: 1;
  border:none;
  padding: 10px;
  height: 45px;
  max-width: 350px;
  
}
.sbutton button{
  width: 350px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  background-color: black;
  margin: 20px;
  height: 45px;
  text-align:center;
  border: none;
  background-size: 300% 100%;
  border-radius: 10px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
.sbutton button:hover{
  opacity: 0.6;
  transition: 1s;
  cursor: pointer;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  border-radius: 8px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.sbutton button:focus {
  outline: none;
}

/* red banner*/
.red-container{
  height: 50px;
  
  background: linear-gradient(to right,#ff4949, #e90000);
}
.red-container-element{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
.red-banner-image img{
  height:40px;
  width:40px;
  margin-right: 5px;
}
.red-banner-text p{
  color: white;
  font-size: 12px;
  margin-right: 10px;
}
.red-banner-button button{
  background-color: #ff4949;
  border-radius: 25px;
  border-color: white;
  color:white;
  font-size: 12px;
  padding: 8px 20px;
}
/* White Buy a new connection*/
.new-connection-container{
  background-color: #ffffff;
  height:360px;
}
.new-connection-text{
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.new-connection-button{
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;
  margin-bottom: 50px;
}
.new-connection-button button{
  padding: 9px 16px;
  cursor: pointer;
  background-color: #e3e5ff ;
  margin-right: 20px;
  margin-left: 20px;
  border-radius: 50px;
  border: none;
}
.new-connection-text p{
  font-size: 32px;
}
.new-connection-button img{
  height: 25px;
  width:25px;
}
.new-connection-red-banner{
  background-color: #ff4949;
  text-align: center;
  height: 90px;
  width:500px;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  display: flex;
  margin: 0 auto;
}
.new-connection-red-banner-image img{
  float: left;
  height:70px;
  padding:10px;
}
.new-connection-red-banner-text h4{
  color: white;
  margin-left: 10px;
}
.new-connection-red-banner-text p{
  color:white;
  font-size: 12px;
  margin-left: 10px;
}
.new-connection-red-banner-button{
  float:right;
  margin-left: 0px;
  padding: 10px 20px;
}
.new-connection-red-banner-button button{
  float:right;
  background-color: #ff4949;
  border-radius: 25px;
  border-color: white;
  color:white;
  font-size: 12px;
  padding: 10px 16px;
}
.new-connection-button button:hover{
  opacity: 0.6;
  transition: 1s;
  cursor: pointer;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  border-radius: 8px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
/*Recommend*/
.recommend-container{
  background-color: #f7f7fa;
  height: 630px;
}
.recommend-container-text p{
  font-size: 32px;
  text-align: center;
  font-weight: 700;
  padding-top: 70px;
  padding-bottom: 40px;
}
.recommend-container3{
  white-space:nowrap;
  align-items: center;
  justify-content: center;
  display: flex;
}
.recommend-container-box{
  background-color:white;
  width:30%;
  height:410px;
  display:inline-block;
  margin:11px 10px;
  border-radius: 20px;
  border: 1px solid #cccfcd;
}
.recommend-container-box-image img{
  height:217px;
  width:439px;
  border-radius: 20px;
}
.recommend-container-box-text{
  display: flex;
  flex-direction: column;
  float: left;
  
}
.recommend-container-box-text1{
  margin-top: 12px;
  float: left;
  margin-left: 25px;
  color:#e90000;
  font-size: 14px;
}
.recommend-container-box-text2{
  float: left;
  margin-left: 25px;
  margin-top: -5px;
  color:black;
  font-size: 20px;
}
.recommend-container-box-text3{
  float: left;
  margin-left: 25px;
  color:grey;
  font-size: 14px;
  margin-top: -10px;
}
.recommend-container-box-button{
  float: left;
  margin-left: 25px;
  margin-top: 35px;
}
.recommend-container-box-button button{
  background-color: black;
  color:white;
  height:35px;
  width:120px;
  border-radius: 10px;
  font-weight: 600;
}
.recommend-container-box-button span{
  color:#3595fd;
  font-weight: 800;
  margin-left: 20px;
  font-size: 10px;
}
.recommend-container-box-button button:hover{
  opacity: 0.6;
  transition: 1s;
  cursor: pointer;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  border-radius: 8px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
/*Footer*/
.footer-container{
  height:80px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.footer-logo img{
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-left: 50px;
  
}
.footer-menu {
  display: flex;
  float: left;
  align-items: center;
  
}
.footer-menu ul{
  list-style: none;
  display: flex;
  gap:10px;
  justify-content: center;
  align-items: center;
}
.footer-menu li{
  display:flex;
  gap:0px;
}
.footer-menu img{
  height:20px;
  width:150px;
}
.footer-menu button{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-left: 80px;
  margin-right: 25px;
  background-color: white;
  border: 2px solid black;
  padding:10px 40px;
  color: black;
  border-radius: 10px;
}
.footer-menu button:hover{
  opacity: 0.8;
  transition: 1s;
  cursor: pointer;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  border-radius: 8px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.footer-menu span li{
  display: flex;
  justify-content: space-between
}
.footer-menu span li img{
  display: flex;
  height: 30px;
  width:30px;
  align-items: center;
  justify-content: space-between;
  gap:10px;
}
.footer-menu span{
  list-style: none;
  display: flex;
  gap:10px;
  justify-content: center;
  align-items: center;
}